@tailwind base;
@tailwind components;
@tailwind utilities;


body {
}

.h-profile {
    height: 424px;
}

@media (max-width: 767px) {
  #myDesc {
    display: none;
  }
}

p {
    font-family: 'Montserrat';
    color: rgb(236 254 255);
  }

  .atas{
    padding-bottom: 40px;
  }

.weight-full{
  weight: 100%;
}